# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
_openmp_mutex
alembic
aniso8601
apispec
asttokens
attrs
backcall
blas
bottleneck
ca-certificates
certifi
click
dataclasses
debugpy
decorator
dnspython
email-validator
entrypoints
executing
flask
flask-cors
flask-migrate
flask-restx
flask-smorest
# flask-smorest-sqlalchemy-odata
flask-sqlalchemy
flask-wtf
greenlet
idna
importlib-metadata
importlib_resources
intel-openmp
ipykernel
ipython
itsdangerous
jedi
jinja2
jsonschema
jupyter_client
jupyter_core
ld_impl_linux-64
libffi
libgcc-ng
libgomp
libsodium
libstdcxx-ng
lorem
mako
markupsafe
marshmallow
marshmallow-sqlalchemy
matplotlib-inline
mkl
mkl-service
mkl_fft
mkl_random
ncurses
nest-asyncio
numexpr
numpy
numpy-base
# odata-query
openssl
packaging
pandas
parso
pexpect
pickleshare
pip
prompt-toolkit
ptyprocess
pure_eval
pygments
pyparsing
pyrsistent
python
python-dateutil
python_abi
pytz
pyzmq
readline
setuptools
six
sly
sqlalchemy
sqlite
stack_data
stringcase
tk
tornado
traitlets
tzdata
wcwidth
webargs
# werkzeug==2.1.2
wheel
wtforms
xz
zeromq
zipp
zlib
