alembic 
aniso8601 
apispec
asttokens
attrs
backcall 
Bottleneck 
certifi
click
debugpy 
decorator 
dnspython
email-validator 
entrypoints 
executing 
Flask
Flask-Cors 
Flask-Migrate 
flask-restx 
flask-smorest
flask-smorest-sqlalchemy-odata
Flask-SQLAlchemy 
Flask-WTF 
greenlet 
idna 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
itsdangerous 
jedi 
Jinja2 
jsonschema 
jupyter-client 
jupyter-core 
lorem
Mako 
MarkupSafe 
marshmallow
marshmallow-sqlalchemy
matplotlib-inline 
# mkl-fft
# mkl-random 
# mkl-service
nest-asyncio 
numexpr 
numpy 
odata-query
packaging 
pandas
parso 
pexpect 
pickleshare 
prompt-toolkit 
ptyprocess 
pure-eval 
Pygments 
pyparsing 
pyrsistent 
python-dateutil 
pytz
pyzmq 
six 
sly
SQLAlchemy 
stack-data 
stringcase
tornado 
traitlets 
wcwidth 
webargs
Werkzeug
WTForms 
zipp 
