body {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-size: 17px;
}


/* Tables */
th, td {
  white-space: no-wrap;
}

.table-container {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.table-container::-webkit-scrollbar {
  display: none;
}