{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  <h1>RavenPoint Admin</h1>
  <p>
    For managing mock data uploaded to the app.
    Access the RavenPoint API Swagger UI
    <a href="http://127.0.0.1:5000/ravenpoint/doc" target="_blank">here</a>.
  </p>
</div>

<div class="container mt-4">
  <h2>Tables</h2>
  <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#addTableModal">
    Add Table
  </button>
  <div class="modal fade" id="addTableModal" tabindex="-1" role="dialog" aria-labelledby="addTableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTableModalLabel">Upload Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Upload your data in CSV format (only). The data will be loaded into the app's 
            SQLite database. Note the following:
          </p>
          <ul>
            <li>Table names are compulsory.</li>
            <li>Inserting a table with a name that is already used will <strong>replace</strong> the old table.</li>
          </ul>
          <form class="mt-3" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <!-- For CSRF security -->
              {{ form.hidden_tag() }}
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 mt-3">
                    {{ form.csv_file.label }} {{ form.csv_file(class='form-control') }}
                  </div>
                  <div class="col-12 mt-3">
                    {{ form.table_name.label }}
                    <small class="ml-3"><code>Display name. Used to generate database table ID and name.</code></small>
                    {{ form.table_name(class='form-control') }}
                  </div>
                  <div class="col-12 mt-3 text-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form.submit(class='btn btn-primary') }}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <table class="table table-striped" id="all-tables">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Table Name</th>
        <th scope="col">Name in DB</th>
        <th scope="col">Table ID</th>
        <th scope="col">No. of Rows</th>
        <th scope="col">Columns</th>
      </tr>
    </thead>
    <tbody>
      {% for table in tables %}
      <tr>
        <td>
          <a href="{{ url_for('admin.table_view', id=table.id) }}">
            {{ table.table_name }}
          </a>
        </td>
        <td><code>{{ table.table_db_name }}</code></td>
        <td>
          <code>{{ table.id }}</code>
        </td>
        <td>{{ "{:,}".format(table.nrows) }}</td>
        <td><small>{{ table.columns }}</small></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    // Convert to data table
    $("#all-tables").DataTable();
  });
</script>

{% endblock %}