{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  <h1>Edit Relationship</h1>
  <div class="text-right">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteRelationshipModal">
      Delete
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade text-left" id="deleteRelationshipModal" tabindex="-1" role="dialog" aria-labelledby="deleteRelationshipModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteRelationshipModalLabel">Delete Relationship</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete this relationship? The change cannot be undone.
          </p>
          <form action="{{ url_for('admin.relationship_delete', id=id) }}" method="POST">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-danger" value="Yes, Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <form method="POST">
    <div class="form-group">
      <!-- For CSRF security -->
      {{ form.hidden_tag() }}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 mt-3">
            <label for="table_left">Table Name</label>
            <select name="table_left" id="table_left" class="form-control">
              <option value="" disabled selected>Select a table:</option>
            </select>
          </div>
          <div class="col-6 mt-3">
            <label for="table_left_on">Table Column</label>
            <select name="table_left_on" id="table_left_on" class="form-control">
              <option value="" disabled selected>Select a column:</option>
            </select>
          </div>
          <div class="col-6 mt-3">
            <label for="table_lookup">Lookup Table</label>
            <select name="table_lookup" id="table_lookup" class="form-control">
              <option value="" disabled selected>Select a lookup table:</option>
            </select>
          </div>
          <div class="col-6 mt-3">
            <label for="table_lookup_on">Lookup Table Id</label>
            <input type="text" name="table_lookup_on" id="table_lookup_on" value="Id" class="form-control" disabled>
          </div>
          <div class="col-12 text-left ml-5 mt-3">
            {{ form.is_multi(class='form-check-input') }}
            {{ form.is_multi.label(class='form-check-label') }}
          </div>
          <div class="col-12 mt-3">
            {{ form.description.label }}
            {{ form.description(class='form-control') }}
          </div>
          <div class="col-12 mt-3 text-right">
            <a href="{{ url_for('admin.relationships') }}" class="btn btn-secondary">Back</a>
            {{ form.submit(class='btn btn-primary') }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  // Retrieve table metadata
  let tableMetadata = {};
  fetch('/get_tables')
  .then(response => response.json())
  .then(data => {
      data.data.forEach(elem => {
        tableMetadata[elem.table_db_name] = {
          columns: elem.columns,
          id: elem.id,
          name: elem.table_name,
          nrows: 10
        }
      });

      let tableNames = Object.keys(tableMetadata);
      tableNames.sort();
      tableNames.forEach(table => {
        $('#table_left').append(
          `<option value="${table}">${table}</option>`
        );
        $('#table_lookup').append(
          `<option value="${table}">${table}</option>`
        );
      });

      // Input current values
      const rship = {{ rship | safe }};
      $(`#table_left`).val(rship.table_left);
      $(`#table_lookup`).val(rship.table_lookup);
      
      // Populate columns
      let columnOptions = tableMetadata[rship.table_left]['columns'].split(',');
      columnOptions.sort();
      $('#table_left_on').empty()
      $('#table_left_on').append('<option value="" disabled selected>Select a column:</option>');
      columnOptions.forEach(elem => {
        $('#table_left_on').append(
          `<option value="${elem}">${elem}</option>`
          );
        });
      $(`#table_left_on`).val(rship.table_left_on);
    });

  // Change in left table
  $('#table_left').on('change', () => {
    // Populate columns
    let columnOptions = tableMetadata[$('#table_left :selected').val()]['columns'].split(',');
    columnOptions.sort();
    $('#table_left_on').empty()
    $('#table_left_on').append('<option value="" disabled selected>Select a column:</option>');
    columnOptions.forEach(elem => {
      $('#table_left_on').append(
        `<option value="${elem}">${elem}</option>`
      );
    });

    // Reset lookup column
    $('#table_lookup').empty()
    $('#table_lookup').append('<option value="" disabled selected>Select a lookup table:</option>');
    let tableNames = Object.keys(tableMetadata);
    tableNames.forEach(table => {
      if (table !== $('#table_left :selected').val()) {
        $('#table_lookup').append(
          `<option value="${table}">${table}</option>`
        );
      }
    });

  });

</script>

{% endblock %}