{% extends 'base.html' %}

{% block content %}

<div class="container mt-4 mb-5">
  <h1>Table: <code>{{ table_db_name }}</code></h1>
  <div class="mt-5">
    <table class="table table-striped mt-5" id="main-table">
      <thead class="thead-dark">
        <tr>
          {% for column in columns %}
          <th scope="col">{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in table %}
        <tr>
          {% for item in row.values() %}
          <td>{{ item }}</td>
          {% endfor %}
  
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Convert to data table
    $("#main-table").DataTable();
  });
</script>

{% endblock %}